@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.text_Header{
/* display:inline-block; */
  /* overflow:hidden;
  white-space:nowrap; */
   font-size:15px;
  color:#999;
 
  

}
 


